/* INIZIO BODY */
body{
    margin: 0 auto;
    width: 60vw;
    font-family:'Times New Roman',serif;
}
/* FINE BODY */

 
/* INIZIO HEADER */
.header{
    height: 15vh;
    background-color: rgba(7, 131, 255, 0.692) ;
    background-image:url(../img/pattern.png);
    background-size: 60vh;
}

#logo{
    width: 15vw;
    padding:5vh 0 0 1vh;
}
/* FINE HEADER */


/* INIZIO MAIN */

/* ARTICOLI IN EVIDENZA */
/* titolo,autore e data */
#titoloev{
    font-size: 4.5vh;
    margin-bottom: 0;
}
.infoev{
    color: grey;
}
 #scrda{
    font-size: 2.5vh;
    color: grey; 
}
#scrda a{
    text-decoration: none;
    color: #05beec;
}

/* immagini e descrizione */
.infoimg{
    margin: 0;
}
.imageev{
    height:42vh;
}

/* PARAGRAFO E LISTA */
.paralist{
    font-size: 2.4vh;
    padding-top: 2%;
}
#list{
    padding:2% 0 2% 2%;
}
.evidenziatore{
    background-color: yellow;
}
.paragraf{
    font-size: 2.4vh;
}

/* TABELLA */
 
.table{
    font-size:2.4vh;
    margin: 0;
    padding-bottom: 2%;
}
.thead{
    color: white;
    background-color: #05beec;
}

.blu{
    background-color: #AFEEEE;
}
.small{
    width: 15vw;
    border:none;
}






